html,
body,
.container-fluid {
  height: 100%;
}
.stretch {
  flex: 1;
}
.clickable {
  cursor: pointer;
}
.hidden {
  display: none;
}
.ghost {
  opacity: 0.5;
}
svg {
  border: 1px solid red;
}
text {
  cursor: default;
  font-size: 3px;
}